/*  Mobile device style */
@media screen and (max-width: 450px){
    header{
        justify-content: center;
        flex-direction: column;
        justify-content: space-evenly;
    }
    .container-title{
        margin-left: 1.5rem;
    }
    .container-subtitle{
        margin-left: 1.5rem;
    }
    .emphasizes {
        align-content: center;
        margin: 2rem 0;
    }
}

/*  Mobile device style - main content */
@media screen and (max-width: 767px){
    .wrapper{
        padding: 8%;
    }  
    section{
        text-align: center;
        padding: 0 .8rem;
    }
    .ebook-image{
        float: none;
        margin: -1rem 0 0 0;
    }
    .container-title{
        font-size: 1.6rem;
        margin-top: 1rem;
        width: 90%;
    }
    .container-title::after{
        height: .2rem;
        margin: 2rem auto;
    }
    .container-subtitle{
        font-size: 1.2rem;
        margin-top: 1rem;
        width: 90%;
    }
    .container-text{
        text-align: justify;
        font-size: 14px;
        line-height: 1.5rem;
        width: 100%;
    }
    .emphasizes {
        font-size: .8rem;
    }
    .footer-frame{
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: center;
    }
    .footer-frame__img{
        margin: 1rem auto;
        text-align: center;
    }
    footer li :first-child, small{
        margin: 0 0 .8rem .8rem;
        align-items: center;
    }
}

/* Tablet style - main content */
@media (min-width: 768px) and (max-width: 1024px){
    .container-wrapper{
        width: 100%;
    }
    .ebook-image{
        margin: -2rem 0 0 -2rem;
    }
    .container-title{
        font-size: 1.8rem;
        margin: 2rem;
        width: 80%;
    }
    .container-subtitle{
        margin: 3rem 2rem;
        width: 80%;
    }
    .container-text{
        text-align: justify;
        font-size: 16px;
        padding: .5rem 2rem;
        line-height: 1.5rem;
        width: 90%;
    }
}

/* Tablet style - footer */
@media (min-width: 768px) and (max-width: 1260px){
    .footer-frame{
        max-width: 700px; 
        width: 100%;
    }
}
