:root {
    --main-color: rgb(237, 89, 0);
    --secondary-color: rgb(115, 191, 224);
    --tertiary-color: rgb(245, 248, 250);
    --quaternary-color: rgb(90, 90, 91);
}

*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    text-decoration: none;
}

/* Desktop style */

body{
    align-items: center;
    border-top: .2rem solid var(--main-color);
    font-family: Arial, Helvetica, sans-serif;
}

/* Header */
header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 130rem; 
    height: 8rem;
    margin: auto; 
}
.header__logo:hover{
    cursor: pointer;
}

/* Social Media Icons */
.social-icons{
    display: flex;
    list-style: none;
}
i{
    margin: .3rem;
    transition: .1s ease;
    color: var(--main-color);
}
i:hover{
    transition: .4s ease;
    color: var(--secondary-color);
}

.separator-image{
    background-image: url(../img/separator-image.jpg);
    width: 100%;
    min-height: 8.8rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.separator-image:hover{
    opacity: .8;
    cursor: pointer;
}

/* Main Content Container */
.container-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3.5rem 6rem 0 2rem; 
    max-width: 1470px;
    width: 100%;
    margin: 0 auto;
}
section{
    max-width: 59rem;
}
.ebook-image{
    float: right;
    margin: -6rem 9rem 1rem 0;
    max-width: 15rem;
    position: relative;
}
.ebook-image:hover{
    cursor: pointer;
}

/* Titles and text */
.container-title{
    color: var(--main-color);
    font-size: 2.4rem;
    font-weight: 400;
}
.container-subtitle{
    color: rgb(209, 209, 209);
    font-weight: 200;
    margin: 5.5rem 0 2.8rem 0;
    width: 50%;
}
.container-text{
    color: var(--quaternary-color);
    font-size: 1.2rem;
    margin: 0 12rem 0 0;
    line-height: 1.8rem;
}
.container-text-markup{
    color: var(--main-color);
}
.container-text-markup:hover{
    text-decoration: underline;
}
.emphasizes{
    color: var(--main-color);
    font-weight: bold;
    text-transform: uppercase;
    margin: 4rem 0 4rem 0;
}
.emphasizes:hover{
    color: var(--secondary-color);
    transition: .2s;
    cursor: pointer;
}

/* Aside form */
aside{
    padding: 1rem; 
}
.form-box{
    width: 13rem;
    padding: 1.5rem 2rem;
    border: none;
    background-color: var(--tertiary-color);
}
.form-title{
    color: var(--main-color);
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    font-size: .8rem;
    margin: 0 0 1rem 0;
}

/* Form inputs style */
fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}
input[type=text], input[type=email]{
    width: 100%;
    padding: .7rem;
    margin: .4rem 0;
    border: .1rem solid rgb(193, 192, 192);
}
input::placeholder{
    color: rgb(193, 192, 192);
}

.fieldset-checkbox{
    align-items: start;
}
label{
    font-size: .8rem;
    display: block;
    margin: .9rem 0 0 .2rem;
    color: var(--quaternary-color);
}
label a{
    color: var(--main-color);
    margin: 0 0 0 .1rem;
}

/* Aside form button */
button{
    background-color: var(--main-color);
    padding: .8rem 4rem;
    margin: 1rem 0 .4rem 0;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    transition: .4s ease;
}
button:hover{
    background-color: var(--secondary-color);
    transform: .2s;
}

/* Footer */ 
